<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<h1>List of All Users</h1>
<br>

<table>
    <thead>
    <tr>
        <th>name</th>
        <th>age</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${allUsers}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        <td><a href="/update">Update</a> <a href="/delete">Delete</a></td>
    </tr>
    </tbody>
</table>
<br>
<h2><a href="/addNew">Create User</a></h2>
</body>
</html>
</html>